* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif ;
}

#subtitulo {
    font-family: sans-serif ;

}

fieldset {
    border: 0;
}

body {
    font-family: sans-serif;
    font-size: 1em ;
    margin-left: 30% ;
    margin-top: 2%;
    justify-content: left;
}